robo_aspirador/node-red/node-red-flow-corrigido.json
[
    {
        "id": "http-in-robo-data",
        "type": "http in",
        "z": "aspirador-flow",
        "name": "Receber Dados Robô",
        "url": "/robo-data",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [["function-process"]]
    },
    {
        "id": "function-process",
        "type": "function",
        "z": "aspirador-flow",
        "name": "Processar Dados",
        "func": "const msgType = msg.payload.type;\nconst data = msg.payload.data;\nconst timestamp = msg.payload.timestamp || new Date().toISOString();\n\nif (msgType === 'metrics') {\n    node.send({\n        topic: 'metrics',\n        payload: {\n            ...data,\n            timestamp: timestamp\n        }\n    });\n} else if (msgType === 'trajectory') {\n    node.send({\n        topic: 'trajectory',\n        payload: {\n            ...data,\n            timestamp: timestamp\n        }\n    });\n} else if (msgType === 'execution_summary') {\n    node.send({\n        topic: 'summary',\n        payload: {\n            ...data,\n            timestamp: timestamp\n        }\n    });\n}\n\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 100,
        "wires": [["switch-type"]]
    },
    {
        "id": "switch-type",
        "type": "switch",
        "z": "aspirador-flow",
        "name": "Separar por Tipo",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {"t": "eq", "v": "metrics", "vt": "str"},
            {"t": "eq", "v": "trajectory", "vt": "str"},
            {"t": "eq", "v": "summary", "vt": "str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 520,
        "y": 100,
        "wires": [
            ["function-split-metrics"],
            ["function-trajectory", "file-trajectory"],
            ["file-summary", "function-comparative"]
        ]
    },
    {
        "id": "function-split-metrics",
        "type": "function",
        "z": "aspirador-flow",
        "name": "Separar Métricas",
        "func": "// Extrai valores individuais para cada gauge\nconst data = msg.payload;\n\n// Arredonda valores para exibição (limita casas decimais)\nconst coverage = Math.round((data.coverage_percentage || 0) * 100) / 100; // 2 casas decimais\nconst efficiency = Math.round((data.efficiency || 0) * 100) / 100; // 2 casas decimais\nconst energy = Math.round((data.total_energy || 0) * 10) / 10; // 1 casa decimal\n\n// Envia valores separados para cada gauge (arredondados)\nnode.send([\n    {payload: coverage, topic: 'coverage'},\n    {payload: efficiency, topic: 'efficiency'},\n    {payload: energy, topic: 'energy'},\n    // Para line chart: envia objetos separados com topic como série\n    {payload: data.coverage_percentage || 0, topic: 'Cobertura'},\n    {payload: data.total_time || 0, topic: 'Tempo'},\n    {payload: data, topic: 'file'}\n]);\n\nreturn null;",
        "outputs": 6,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 100,
        "wires": [
            ["gauge-coverage"],
            ["gauge-efficiency"],
            ["gauge-energy"],
            ["chart-time"],
            ["chart-time"],
            ["file-metrics"]
        ]
    },
    {
        "id": "gauge-coverage",
        "type": "ui_gauge",
        "z": "aspirador-flow",
        "name": "Cobertura",
        "group": "aspirador-dashboard-group",
        "order": 1,
        "width": "4",
        "height": "1",
        "gtype": "gauge",
        "title": "Cobertura (%)",
        "label": "percentual",
        "format": "{{value | number:2}}%",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "50",
        "seg2": "80",
        "x": 970,
        "y": 60,
        "wires": []
    },
    {
        "id": "gauge-efficiency",
        "type": "ui_gauge",
        "z": "aspirador-flow",
        "name": "Eficiência",
        "group": "aspirador-dashboard-group",
        "order": 2,
        "width": "4",
        "height": "1",
        "gtype": "gauge",
        "title": "Eficiência",
        "label": "%/J",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 2,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "0.5",
        "seg2": "1.0",
        "x": 970,
        "y": 140,
        "wires": []
    },
    {
        "id": "gauge-energy",
        "type": "ui_gauge",
        "z": "aspirador-flow",
        "name": "Energia",
        "group": "aspirador-dashboard-group",
        "order": 3,
        "width": "4",
        "height": "1",
        "gtype": "gauge",
        "title": "Energia Consumida",
        "label": "Joules",
        "format": "{{value | number:1}}J",
        "min": 0,
        "max": 1000,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "300",
        "seg2": "600",
        "x": 970,
        "y": 220,
        "wires": []
    },
    {
        "id": "chart-time",
        "type": "ui_chart",
        "z": "aspirador-flow",
        "name": "Evolução",
        "group": "aspirador-dashboard-group",
        "order": 4,
        "width": "12",
        "height": "1",
        "label": "Evolução Tempo vs Cobertura",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4", "#ff7f0e"],
        "useOldStyle": false,
        "outputs": 1,
        "x": 970,
        "y": 300,
        "wires": [[]]
    },
    {
        "id": "function-trajectory",
        "type": "function",
        "z": "aspirador-flow",
        "name": "Formatar Trajetória",
        "func": "// Formata trajetória para scatter chart\nconst data = msg.payload;\n\nif (!data || typeof data.x !== 'number' || typeof data.y !== 'number') {\n    return null;\n}\n\n// Para scatter chart, o formato deve ser simples: objeto com x e y\nconst xVal = parseFloat(data.x.toFixed(3));\nconst yVal = parseFloat(data.y.toFixed(3));\n\n// Formato correto para scatter: objeto simples {x, y}\nmsg.payload = {\n    x: xVal,\n    y: yVal\n};\n\n// Remove topic para evitar problemas\nmsg.topic = '';\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 180,
        "wires": [["chart-trajectory-2d"]]
    },
    {
        "id": "chart-trajectory-2d",
        "type": "ui_chart",
        "z": "aspirador-flow",
        "name": "Trajetória 2D",
        "group": "aspirador-dashboard-group",
        "order": 5,
        "width": "12",
        "height": "1",
        "label": "Trajetória do Robô (Vista Superior)",
        "chartType": "scatter",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Aguardando dados de trajetória...",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 0,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4"],
        "useOldStyle": false,
        "outputs": 1,
        "x": 970,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "function-comparative",
        "type": "function",
        "z": "aspirador-flow",
        "name": "Preparar Comparativo",
        "func": "const summary = msg.payload;\n\nif (!summary) {\n    return null;\n}\n\nconst execNum = summary.execution_number || 1;\n\nlet history = global.get('execution_history') || [];\n\nhistory.push({\n    execution: execNum,\n    coverage: summary.coverage_percentage || 0,\n    time: summary.total_time || 0,\n    energy: summary.total_energy || 0,\n    efficiency: summary.efficiency || 0,\n    timestamp: summary.timestamp || new Date().toISOString()\n});\n\nif (history.length > 10) {\n    history = history.slice(-10);\n}\n\nglobal.set('execution_history', history);\n\n// Envia dados para o chart - formato correto para line chart com múltiplas séries\nconst msgs = [];\nhistory.forEach((h) => {\n    msgs.push({payload: h.coverage, topic: 'Cobertura'});\n    msgs.push({payload: h.time, topic: 'Tempo'});\n    msgs.push({payload: h.efficiency, topic: 'Eficiência'});\n});\n\nreturn msgs;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 260,
        "wires": [["chart-comparative"]]
    },
    {
        "id": "chart-comparative",
        "type": "ui_chart",
        "z": "aspirador-flow",
        "name": "Comparativo",
        "group": "aspirador-dashboard-group",
        "order": 6,
        "width": "12",
        "height": "1",
        "label": "Comparativo Entre Execuções",
        "chartType": "line",
        "legend": "true",
        "xformat": "auto",
        "interpolate": "linear",
        "nodata": "Execute pelo menos 2 vezes para ver comparação",
        "dot": true,
        "ymin": "",
        "ymax": "",
        "removeOlder": 0,
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4", "#ff7f0e", "#2ca02c"],
        "useOldStyle": false,
        "outputs": 1,
        "x": 970,
        "y": 260,
        "wires": [[]]
    },
    {
        "id": "file-metrics",
        "type": "file",
        "z": "aspirador-flow",
        "name": "Salvar Métricas",
        "filename": "C:\\temp\\node-red-robot-metrics.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 970,
        "y": 340,
        "wires": []
    },
    {
        "id": "file-trajectory",
        "type": "file",
        "z": "aspirador-flow",
        "name": "Salvar Trajetória",
        "filename": "C:\\temp\\node-red-robot-trajectory.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 970,
        "y": 420,
        "wires": []
    },
    {
        "id": "file-summary",
        "type": "file",
        "z": "aspirador-flow",
        "name": "Salvar Resumo",
        "filename": "C:\\temp\\node-red-robot-summary.json",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "utf8",
        "x": 970,
        "y": 500,
        "wires": []
    },
    {
        "id": "aspirador-dashboard-group",
        "type": "ui_group",
        "z": "",
        "name": "Robô Aspirador",
        "tab": "aspirador-dashboard-tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "height": "1",
        "collapse": false
    },
    {
        "id": "aspirador-dashboard-tab",
        "type": "ui_tab",
        "z": "",
        "name": "Robô Aspirador",
        "icon": "fa-home",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]
