drone/node_red_complete.json
[
    {
        "id": "drone-http-endpoint",
        "type": "http in",
        "z": "drone-delivery-flow",
        "name": "Drone Data",
        "url": "/drone-data",
        "method": "post",
        "swaggerDoc": "",
        "x": 120,
        "y": 100,
        "wires": [["parse-json", "log-all-data"]]
    },
    {
        "id": "parse-json",
        "type": "json",
        "z": "drone-delivery-flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 300,
        "y": 100,
        "wires": [["route-switch"]]
    },
    {
        "id": "route-switch",
        "type": "switch",
        "z": "drone-delivery-flow",
        "name": "Event Type",
        "property": "payload.event",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "detection",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "delivery",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "replan",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "state",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 500,
        "y": 100,
        "wires": [
            ["process-detection"],
            ["process-delivery"],
            ["process-replan"],
            ["process-state"]
        ]
    },
    {
        "id": "process-state",
        "type": "function",
        "z": "drone-delivery-flow",
        "name": "Process State",
        "func": "// Processar estado e atualizar dashboard\nconst data = msg.payload.data || {};\nconst metrics = msg.payload.metrics || {};\n\n// Atualizar posição do drone para gráfico\nconst posX = data.drone_position ? data.drone_position[0] : 0;\nconst posY = data.drone_position ? data.drone_position[1] : 0;\nconst posZ = data.drone_position ? data.drone_position[2] : 0;\n\n// Mensagem para gráfico de trajetória (X, Y) - formato correto para ui_chart\nconst trajectoryMsg = {\n    payload: [\n        {series: 'X', x: Date.now(), y: posX},\n        {series: 'Y', x: Date.now(), y: posY}\n    ]\n};\n\n// Mensagem para altitude\nconst altitudeMsg = {\n    payload: posZ\n};\n\n// Mensagem para métricas\nconst metricsMsg = {\n    payload: {\n        time: metrics.elapsed_time ? metrics.elapsed_time.toFixed(1) + 's' : '0s',\n        distance: metrics.total_distance ? metrics.total_distance.toFixed(2) + 'm' : '0m',\n        replans: metrics.replan_count || 0,\n        efficiency: metrics.efficiency ? (metrics.efficiency * 100).toFixed(1) + '%' : '0%'\n    }\n};\n\n// Mensagem para velocidade\nconst speed = data.drone_velocity ? Math.sqrt(\n    Math.pow(data.drone_velocity[0], 2) +\n    Math.pow(data.drone_velocity[1], 2) +\n    Math.pow(data.drone_velocity[2], 2)\n) : 0;\n\nconst velocityMsg = {\n    payload: speed\n};\n\n// Mensagem para contadores\nconst countersMsg = {\n    payload: {\n        detected: data.detected_points_count || 0,\n        delivered: data.delivered_points_count || 0,\n        route_length: data.route_length || 0\n    }\n};\n\n// Mensagem para cobertura (estimada baseada em pontos detectados)\nconst totalPoints = 10; // Total de pontos na simulação\nconst coverage = data.detected_points_count ? (data.detected_points_count / totalPoints * 100) : 0;\nconst coverageMsg = {\n    payload: coverage\n};\n\n// Mensagem para energia (estimada baseada em distância)\nconst energy = metrics.total_distance ? (metrics.total_distance * 0.5) : 0; // ~0.5J por metro\nconst energyMsg = {\n    payload: energy\n};\n\nreturn [trajectoryMsg, altitudeMsg, metricsMsg, velocityMsg, countersMsg, coverageMsg, energyMsg];",
        "outputs": 7,
        "x": 750,
        "y": 180,
        "wires": [
            ["drone-trajectory"],
            ["altitude-gauge"],
            ["metrics-text"],
            ["velocity-gauge"],
            ["counters-text"],
            ["coverage-gauge"],
            ["energy-gauge"]
        ]
    },
    {
        "id": "process-detection",
        "type": "function",
        "z": "drone-delivery-flow",
        "name": "Process Detection",
        "func": "// Processar detecção\nconst data = msg.payload.data || {};\nconst detections = context.get('detections') || 0;\ncontext.set('detections', detections + 1);\n\n// Adicionar à lista de pontos detectados\nconst points = context.get('detected_points') || [];\nconst existingPoint = points.find(p => p.id === data.point_id);\nif (!existingPoint) {\n    points.push({\n        id: data.point_id,\n        position: data.point_position,\n        timestamp: data.timestamp,\n        delivered: false\n    });\n    context.set('detected_points', points);\n}\n\nmsg.payload = {\n    topic: 'detection',\n    payload: detections + 1\n};\n\n// Atualizar tabela também\nconst tableMsg = {\n    payload: {\n        topic: 'update_table',\n        payload: true\n    }\n};\n\nreturn [msg, tableMsg];",
        "outputs": 2,
        "x": 750,
        "y": 60,
        "wires": [
            ["detection-counter"],
            ["update-points-table"]
        ]
    },
    {
        "id": "process-delivery",
        "type": "function",
        "z": "drone-delivery-flow",
        "name": "Process Delivery",
        "func": "// Processar entrega\nconst data = msg.payload.data || {};\nconst deliveries = context.get('deliveries') || 0;\ncontext.set('deliveries', deliveries + 1);\n\n// Atualizar lista de pontos entregues\nconst points = context.get('detected_points') || [];\nconst point = points.find(p => p.id === data.point_id);\nif (point) {\n    point.delivered = true;\n    point.delivery_time = data.timestamp;\n    context.set('detected_points', points);\n}\n\nmsg.payload = {\n    topic: 'delivery',\n    payload: deliveries + 1\n};\n\n// Atualizar tabela também\nconst tableMsg = {\n    payload: {\n        topic: 'update_table',\n        payload: true\n    }\n};\n\nreturn [msg, tableMsg];",
        "outputs": 2,
        "x": 750,
        "y": 100,
        "wires": [
            ["delivery-counter"],
            ["update-points-table"]
        ]
    },
    {
        "id": "process-replan",
        "type": "function",
        "z": "drone-delivery-flow",
        "name": "Process Replan",
        "func": "// Processar replanejamento\nconst data = msg.payload.data || {};\nconst replans = context.get('replans') || 0;\ncontext.set('replans', replans + 1);\n\nmsg.payload = {\n    topic: 'replan',\n    payload: replans + 1\n};\n\nreturn msg;",
        "outputs": 1,
        "x": 750,
        "y": 140,
        "wires": [["replan-counter"]]
    },
    {
        "id": "drone-trajectory",
        "type": "ui_chart",
        "z": "drone-delivery-flow",
        "name": "Trajetória",
        "group": "dashboard-group",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Trajetória do Drone (X, Y)",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "Aguardando dados...",
        "ymin": "",
        "ymax": "",
        "removeOlder": 100,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#ff7f0e"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 1050,
        "y": 180,
        "wires": [[]]
    },
    {
        "id": "coverage-gauge",
        "type": "ui_gauge",
        "z": "drone-delivery-flow",
        "name": "Cobertura",
        "group": "dashboard-group",
        "order": 10,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Cobertura",
        "label": "percentual",
        "format": "{{value}}%",
        "min": 0,
        "max": "100",
        "colors": [
            "#ca3838",
            "#e6e600",
            "#00b500"
        ],
        "seg1": "30",
        "seg2": "70",
        "x": 1050,
        "y": 480,
        "wires": []
    },
    {
        "id": "energy-gauge",
        "type": "ui_gauge",
        "z": "drone-delivery-flow",
        "name": "Energia",
        "group": "dashboard-group",
        "order": 11,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Energia Consumida",
        "label": "Joules",
        "format": "{{value}}J",
        "min": 0,
        "max": "1000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "300",
        "seg2": "700",
        "x": 1050,
        "y": 540,
        "wires": []
    },
    {
        "id": "velocity-gauge",
        "type": "ui_gauge",
        "z": "drone-delivery-flow",
        "name": "Velocidade",
        "group": "dashboard-group",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Velocidade",
        "label": "m/s",
        "format": "{{value}}",
        "min": 0,
        "max": "5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "3.5",
        "x": 1050,
        "y": 240,
        "wires": []
    },
    {
        "id": "altitude-gauge",
        "type": "ui_gauge",
        "z": "drone-delivery-flow",
        "name": "Altitude",
        "group": "dashboard-group",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Altitude",
        "label": "metros",
        "format": "{{value}}",
        "min": 0,
        "max": "10",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "3",
        "seg2": "6",
        "x": 1050,
        "y": 300,
        "wires": []
    },
    {
        "id": "metrics-text",
        "type": "ui_text",
        "z": "drone-delivery-flow",
        "group": "dashboard-group",
        "name": "Métricas",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<h3>Métricas da Simulação</h3><p><strong>Tempo:</strong> {{msg.payload.time}}</p><p><strong>Distância:</strong> {{msg.payload.distance}}</p><p><strong>Replanejamentos:</strong> {{msg.payload.replans}}</p><p><strong>Eficiência:</strong> {{msg.payload.efficiency}}</p>",
        "layout": "row-spread",
        "x": 1050,
        "y": 360,
        "wires": []
    },
    {
        "id": "counters-text",
        "type": "ui_text",
        "z": "drone-delivery-flow",
        "group": "dashboard-group",
        "name": "Status",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<h3>Status</h3><p><strong>Detectados:</strong> {{msg.payload.detected}}</p><p><strong>Entregues:</strong> {{msg.payload.delivered}}</p><p><strong>Rota:</strong> {{msg.payload.route_length}} pontos</p>",
        "layout": "row-spread",
        "x": 1050,
        "y": 420,
        "wires": []
    },
    {
        "id": "detection-counter",
        "type": "ui_gauge",
        "z": "drone-delivery-flow",
        "name": "Detecções",
        "group": "dashboard-group",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Pontos Detectados",
        "label": "unidades",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "10",
        "x": 950,
        "y": 60,
        "wires": []
    },
    {
        "id": "delivery-counter",
        "type": "ui_gauge",
        "z": "drone-delivery-flow",
        "name": "Entregas",
        "group": "dashboard-group",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Pontos Entregues",
        "label": "unidades",
        "format": "{{value}}",
        "min": 0,
        "max": "20",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "5",
        "seg2": "10",
        "x": 950,
        "y": 100,
        "wires": []
    },
    {
        "id": "replan-counter",
        "type": "ui_gauge",
        "z": "drone-delivery-flow",
        "name": "Replanejamentos",
        "group": "dashboard-group",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Replanejamentos",
        "label": "vezes",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "10",
        "seg2": "25",
        "x": 950,
        "y": 140,
        "wires": []
    },
    {
        "id": "update-points-table",
        "type": "function",
        "z": "drone-delivery-flow",
        "name": "Update Points Table",
        "func": "// Atualizar tabela de pontos\nconst points = context.get('detected_points') || [];\n\n// Formatar para exibição em texto HTML\nif (points.length === 0) {\n    msg.payload = {\n        topic: 'points_table',\n        payload: '<p style=\"padding: 10px;\">Nenhum ponto detectado ainda.</p>'\n    };\n} else {\n    let html = '<div style=\"overflow-x: auto;\"><table style=\"width:100%; border-collapse: collapse; font-size: 12px;\">';\n    html += '<thead><tr style=\"background-color: #4CAF50; color: white;\">';\n    html += '<th style=\"padding: 8px; border: 1px solid #ddd;\">ID</th>';\n    html += '<th style=\"padding: 8px; border: 1px solid #ddd;\">X</th>';\n    html += '<th style=\"padding: 8px; border: 1px solid #ddd;\">Y</th>';\n    html += '<th style=\"padding: 8px; border: 1px solid #ddd;\">Z</th>';\n    html += '<th style=\"padding: 8px; border: 1px solid #ddd;\">Status</th>';\n    html += '<th style=\"padding: 8px; border: 1px solid #ddd;\">Detectado</th>';\n    html += '</tr></thead><tbody>';\n    \n    points.forEach(p => {\n        const statusColor = p.delivered ? '#4CAF50' : '#FF9800';\n        const statusText = p.delivered ? '✓ Entregue' : '⏳ Pendente';\n        const detectedTime = new Date(p.timestamp * 1000).toLocaleTimeString();\n        \n        html += '<tr style=\"background-color: ' + (p.delivered ? '#e8f5e9' : '#fff3e0') + ';\">';\n        html += '<td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">' + p.id + '</td>';\n        html += '<td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">' + p.position[0].toFixed(2) + '</td>';\n        html += '<td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">' + p.position[1].toFixed(2) + '</td>';\n        html += '<td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">' + p.position[2].toFixed(2) + '</td>';\n        html += '<td style=\"padding: 8px; border: 1px solid #ddd; text-align: center; color: ' + statusColor + '; font-weight: bold;\">' + statusText + '</td>';\n        html += '<td style=\"padding: 8px; border: 1px solid #ddd; text-align: center;\">' + detectedTime + '</td>';\n        html += '</tr>';\n    });\n    \n    html += '</tbody></table></div>';\n    \n    msg.payload = {\n        topic: 'points_table',\n        payload: html\n    };\n}\n\nreturn msg;",
        "outputs": 1,
        "x": 1050,
        "y": 60,
        "wires": [["points-table-ui"]]
    },
    {
        "id": "points-table-ui",
        "type": "ui_text",
        "z": "drone-delivery-flow",
        "group": "dashboard-group",
        "name": "Pontos de Entrega",
        "order": 9,
        "width": 0,
        "height": 0,
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1250,
        "y": 60,
        "wires": []
    },
    {
        "id": "log-all-data",
        "type": "debug",
        "z": "drone-delivery-flow",
        "name": "Log All Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 300,
        "y": 140,
        "wires": []
    },
    {
        "id": "dashboard-group",
        "type": "ui_group",
        "z": "",
        "name": "Dashboard Drone",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "z": "",
        "name": "Drone de Entregas",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]

