robo_movel/node_red/node_red_flow_robo_movel.json
[
    {
        "id": "robo_mqtt_in",
        "type": "mqtt in",
        "z": "robo_flow",
        "name": "Receber Métricas",
        "topic": "robotica_n2/robo_movel/metrics",
        "qos": "1",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 100,
        "wires": [["robo_parse"]]
    },
    {
        "id": "robo_parse",
        "type": "json",
        "z": "robo_flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 320,
        "y": 100,
        "wires": [["robo_dashboard"]]
    },
    {
        "id": "robo_dashboard",
        "type": "function",
        "z": "robo_flow",
        "name": "Preparar Dashboard",
        "func": "const metrics = msg.payload.metrics;\nconst timestamp = new Date(msg.payload.timestamp * 1000);\n\n// Formatar valores com casas decimais limitadas\nconst distancia = parseFloat((metrics.distancia_percorrida_sem_impacto || 0).toFixed(2));\nconst tempoReacao = parseFloat((metrics.tempo_reacao_medio || 0).toFixed(2));\nconst erroLateral = parseFloat((metrics.erro_medio_lateral || 0).toFixed(3));\n\n// Preparar dados para gráfico de distância\nconst msgDist = {payload: distancia, topic: \"distancia\"};\n\n// Criar mensagens para os displays\nreturn [\n    msgDist,\n    {payload: metrics.numero_colisoes || 0, topic: \"colisoes\"},\n    {payload: tempoReacao, topic: \"tempo_reacao\"},\n    {payload: distancia, topic: \"distancia\"},\n    {payload: erroLateral, topic: \"erro_lateral\"}\n];",
        "outputs": 5,
        "noerr": 0,
        "x": 520,
        "y": 100,
        "wires": [["robo_chart_distancia"], ["robo_text_colisoes"], ["robo_text_tempo"], ["robo_text_distancia"], ["robo_text_erro"]]
    },
    {
        "id": "robo_chart_distancia",
        "type": "ui_chart",
        "z": "robo_flow",
        "name": "Distância Percorrida",
        "group": "robo_group",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "Distância Percorrida ao Longo do Tempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#2ca02c"],
        "useOldStyle": false,
        "size": "auto",
        "outputs": 1,
        "x": 720,
        "y": 60,
        "wires": [[]]
    },
    {
        "id": "robo_text_colisoes",
        "type": "ui_text",
        "z": "robo_flow",
        "group": "robo_group",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Colisões",
        "label": "Número de Colisões:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "robo_text_tempo",
        "type": "ui_text",
        "z": "robo_flow",
        "group": "robo_group",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Tempo Reação",
        "label": "Tempo Reação Médio (s):",
        "format": "{{msg.payload | number:2}}s",
        "layout": "row-spread",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "robo_text_distancia",
        "type": "ui_text",
        "z": "robo_flow",
        "group": "robo_group",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Distância",
        "label": "Distância Percorrida (m):",
        "format": "{{msg.payload | number:2}}m",
        "layout": "row-spread",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "robo_text_erro",
        "type": "ui_text",
        "z": "robo_flow",
        "group": "robo_group",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "Erro Lateral",
        "label": "Erro Médio Lateral (m):",
        "format": "{{msg.payload | number:3}}m",
        "layout": "row-spread",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "robo_group",
        "type": "ui_group",
        "z": "",
        "name": "Robô Móvel",
        "tab": "robo_movel_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "robo_movel_tab",
        "type": "ui_tab",
        "z": "",
        "name": "Robô Móvel",
        "icon": "fa-car",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "robo_flow",
        "type": "tab",
        "label": "Robô Móvel",
        "disabled": false,
        "info": "Flow para monitoramento do Robô Móvel Diferencial"
    }
]

