braco_mecanico/node_red/node_red_flow_braco_mecanico.json
[
    {
        "id": "manipulador_mqtt_in",
        "type": "mqtt in",
        "z": "manipulador_flow",
        "name": "Receber Métricas",
        "topic": "robotica_n2/manipulador_planar/metrics",
        "qos": "1",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 100,
        "wires": [["manipulador_parse"]]
    },
    {
        "id": "manipulador_parse",
        "type": "json",
        "z": "manipulador_flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 320,
        "y": 100,
        "wires": [["manipulador_dashboard"]]
    },
    {
        "id": "manipulador_dashboard",
        "type": "function",
        "z": "manipulador_flow",
        "name": "Preparar Dashboard",
        "func": "const metrics = msg.payload.metrics;\nconst timestamp = new Date(msg.payload.timestamp * 1000);\n\n// Formatar valores com casas decimais limitadas\nconst erroMedio = parseFloat((metrics.erro_medio_posicao || 0).toFixed(4));\nconst tempoEstab = parseFloat((metrics.tempo_estabilizacao || 0).toFixed(2));\nconst energia = parseFloat((metrics.energia_total_gasta || 0).toFixed(2));\nconst overshoot = parseFloat((metrics.overshoot_maximo || 0).toFixed(4));\n\n// Preparar dados para gráfico de erro\nconst msgErro = {payload: erroMedio, topic: \"erro_medio\"};\n\n// Criar mensagens para os gauges e displays\nreturn [\n    msgErro,\n    {payload: erroMedio, topic: \"erro\"},\n    {payload: tempoEstab, topic: \"tempo\"},\n    {payload: energia, topic: \"energia\"},\n    {payload: overshoot, topic: \"overshoot\"},\n    {payload: metrics.estabilizado ? \"Sim\" : \"Não\", topic: \"status\"}\n];",
        "outputs": 6,
        "noerr": 0,
        "x": 520,
        "y": 100,
        "wires": [["manipulador_chart_erro"], ["manipulador_gauge_erro"], ["manipulador_gauge_tempo"], ["manipulador_gauge_energia"], ["manipulador_gauge_overshoot"], ["manipulador_text_status"]]
    },
    {
        "id": "manipulador_chart_erro",
        "type": "ui_chart",
        "z": "manipulador_flow",
        "name": "Erro Médio",
        "group": "manipulador_group",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "Erro Médio de Posição ao Longo do Tempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4"],
        "useOldStyle": false,
        "size": "auto",
        "outputs": 1,
        "x": 720,
        "y": 60,
        "wires": [[]]
    },
    {
        "id": "manipulador_gauge_erro",
        "type": "ui_gauge",
        "z": "manipulador_flow",
        "name": "Erro Médio",
        "group": "manipulador_group",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Erro Médio",
        "label": "rad",
        "format": "{{value | number:4}}",
        "min": 0,
        "max": 0.5,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "0.05",
        "seg2": "0.2",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "manipulador_gauge_tempo",
        "type": "ui_gauge",
        "z": "manipulador_flow",
        "name": "Tempo Estabilização",
        "group": "manipulador_group",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Tempo Estabilização",
        "label": "s",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 10,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "2",
        "seg2": "5",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "manipulador_gauge_energia",
        "type": "ui_gauge",
        "z": "manipulador_flow",
        "name": "Energia Total",
        "group": "manipulador_group",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Energia Total",
        "label": "J",
        "format": "{{value | number:2}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "20",
        "seg2": "50",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "manipulador_gauge_overshoot",
        "type": "ui_gauge",
        "z": "manipulador_flow",
        "name": "Overshoot Máximo",
        "group": "manipulador_group",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Overshoot Máximo",
        "label": "rad",
        "format": "{{value | number:4}}",
        "min": 0,
        "max": 1.5,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "0.3",
        "seg2": "0.7",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "manipulador_text_status",
        "type": "ui_text",
        "z": "manipulador_flow",
        "group": "manipulador_group",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Status",
        "label": "Estabilizado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "manipulador_group",
        "type": "ui_group",
        "z": "",
        "name": "Manipulador Planar",
        "tab": "braco_mecanico_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "braco_mecanico_tab",
        "type": "ui_tab",
        "z": "",
        "name": "Manipulador Planar",
        "icon": "fa-robot",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "manipulador_flow",
        "type": "tab",
        "label": "Manipulador Planar",
        "disabled": false,
        "info": "Flow para monitoramento do Manipulador Planar"
    }
]

