braco_mecanico/node_red/node_red_flow.json
[
    {
        "id": "manipulador_mqtt_in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Manipulador Planar",
        "topic": "robotica_n2/manipulador_planar/metrics",
        "qos": "1",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 100,
        "wires": [["manipulador_parse", "manipulador_chart"]]
    },
    {
        "id": "robo_mqtt_in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Robô Móvel",
        "topic": "robotica_n2/robo_movel/metrics",
        "qos": "1",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 200,
        "wires": [["robo_parse", "robo_chart"]]
    },
    {
        "id": "manipulador_parse",
        "type": "json",
        "z": "flow1",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 320,
        "y": 100,
        "wires": [["manipulador_dashboard"]]
    },
    {
        "id": "robo_parse",
        "type": "json",
        "z": "flow1",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 320,
        "y": 200,
        "wires": [["robo_dashboard"]]
    },
    {
        "id": "manipulador_chart",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Gráfico Erro",
        "group": "manipulador_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Erro Médio de Posição",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 520,
        "y": 100,
        "wires": [[]]
    },
    {
        "id": "robo_chart",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Gráfico Distância",
        "group": "robo_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Distância Percorrida",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 520,
        "y": 200,
        "wires": [[]]
    },
    {
        "id": "manipulador_dashboard",
        "type": "function",
        "z": "flow1",
        "name": "Preparar Dashboard",
        "func": "const metrics = msg.payload.metrics;\nconst timestamp = new Date(msg.payload.timestamp * 1000);\n\n// Preparar dados para gráfico\nmsg.payload = metrics.erro_medio_posicao;\nmsg.topic = \"erro_medio\";\n\n// Criar mensagens para os gauges\nreturn [\n    msg,\n    {payload: metrics.erro_medio_posicao, topic: \"erro\"},\n    {payload: metrics.tempo_estabilizacao, topic: \"tempo\"},\n    {payload: metrics.energia_total_gasta, topic: \"energia\"},\n    {payload: metrics.overshoot_maximo, topic: \"overshoot\"},\n    {payload: metrics.estabilizado ? \"Sim\" : \"Não\", topic: \"status\"}\n];",
        "outputs": 6,
        "noerr": 0,
        "x": 520,
        "y": 140,
        "wires": [["manipulador_chart"], ["manipulador_gauge_erro"], ["manipulador_gauge_tempo"], ["manipulador_gauge_energia"], ["manipulador_gauge_overshoot"], ["manipulador_text_status"]]
    },
    {
        "id": "robo_dashboard",
        "type": "function",
        "z": "flow1",
        "name": "Preparar Dashboard",
        "func": "const metrics = msg.payload.metrics;\nconst timestamp = new Date(msg.payload.timestamp * 1000);\n\n// Preparar dados para gráfico\nmsg.payload = metrics.distancia_percorrida_sem_impacto;\nmsg.topic = \"distancia\";\n\n// Criar mensagens para os displays\nreturn [\n    msg,\n    {payload: metrics.numero_colisoes, topic: \"colisoes\"},\n    {payload: metrics.tempo_reacao_medio, topic: \"tempo_reacao\"},\n    {payload: metrics.distancia_percorrida_sem_impacto, topic: \"distancia\"},\n    {payload: metrics.erro_medio_lateral, topic: \"erro_lateral\"}\n];",
        "outputs": 5,
        "noerr": 0,
        "x": 520,
        "y": 240,
        "wires": [["robo_chart"], ["robo_text_colisoes"], ["robo_text_tempo"], ["robo_text_distancia"], ["robo_text_erro"]]
    },
    {
        "id": "manipulador_gauge_erro",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Erro Médio",
        "group": "manipulador_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Erro Médio (rad)",
        "label": "rad",
        "format": "{{value}}",
        "min": 0,
        "max": 1,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.1",
        "seg2": "0.5",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "manipulador_gauge_tempo",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Tempo Estabilização",
        "group": "manipulador_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Tempo Estabilização (s)",
        "label": "s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "2",
        "seg2": "5",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "manipulador_gauge_energia",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Energia Total",
        "group": "manipulador_group",
        "order": 4,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Energia Total (J)",
        "label": "J",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "50",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "manipulador_gauge_overshoot",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Overshoot Máximo",
        "group": "manipulador_group",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Overshoot Máximo (rad)",
        "label": "rad",
        "format": "{{value}}",
        "min": 0,
        "max": 2,
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "0.5",
        "seg2": "1.0",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "manipulador_text_status",
        "type": "ui_text",
        "z": "flow1",
        "group": "manipulador_group",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "Status",
        "label": "Estabilizado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "robo_text_colisoes",
        "type": "ui_text",
        "z": "flow1",
        "group": "robo_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "Colisões",
        "label": "Número de Colisões:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 200,
        "wires": []
    },
    {
        "id": "robo_text_tempo",
        "type": "ui_text",
        "z": "flow1",
        "group": "robo_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "Tempo Reação",
        "label": "Tempo Reação Médio (s):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "robo_text_distancia",
        "type": "ui_text",
        "z": "flow1",
        "group": "robo_group",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Distância",
        "label": "Distância Percorrida (m):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 280,
        "wires": []
    },
    {
        "id": "robo_text_erro",
        "type": "ui_text",
        "z": "flow1",
        "group": "robo_group",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Erro Lateral",
        "label": "Erro Médio Lateral (m):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 320,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "manipulador_group",
        "type": "ui_group",
        "name": "Manipulador Planar",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "robo_group",
        "type": "ui_group",
        "name": "Robô Móvel",
        "tab": "dashboard_tab",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Robótica N2",
        "icon": "dashboard",
        "order": 1
    }
]

