braco_mecanico/node_red/node_red_flow_organizado.json
[
    {
        "id": "manipulador_mqtt_in",
        "type": "mqtt in",
        "z": "manipulador_flow",
        "name": "Receber Métricas",
        "topic": "robotica_n2/manipulador_planar/metrics",
        "qos": "1",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 100,
        "wires": [["manipulador_parse"]]
    },
    {
        "id": "manipulador_parse",
        "type": "json",
        "z": "manipulador_flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 320,
        "y": 100,
        "wires": [["manipulador_dashboard"]]
    },
    {
        "id": "manipulador_dashboard",
        "type": "function",
        "z": "manipulador_flow",
        "name": "Preparar Dashboard",
        "func": "const metrics = msg.payload.metrics;\nconst timestamp = new Date(msg.payload.timestamp * 1000);\n\n// Preparar dados para gráfico de erro\nconst msgErro = {payload: metrics.erro_medio_posicao, topic: \"erro_medio\"};\n\n// Criar mensagens para os gauges e displays\nreturn [\n    msgErro,\n    {payload: metrics.erro_medio_posicao, topic: \"erro\"},\n    {payload: metrics.tempo_estabilizacao || 0, topic: \"tempo\"},\n    {payload: metrics.energia_total_gasta, topic: \"energia\"},\n    {payload: metrics.overshoot_maximo, topic: \"overshoot\"},\n    {payload: metrics.estabilizado ? \"Sim\" : \"Não\", topic: \"status\"}\n];",
        "outputs": 6,
        "noerr": 0,
        "x": 520,
        "y": 100,
        "wires": [["manipulador_chart_erro"], ["manipulador_gauge_erro"], ["manipulador_gauge_tempo"], ["manipulador_gauge_energia"], ["manipulador_gauge_overshoot"], ["manipulador_text_status"]]
    },
    {
        "id": "manipulador_chart_erro",
        "type": "ui_chart",
        "z": "manipulador_flow",
        "name": "Erro Médio",
        "group": "manipulador_group",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "Erro Médio de Posição ao Longo do Tempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": "1",
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#1f77b4"],
        "useOldStyle": false,
        "size": "auto",
        "outputs": 1,
        "x": 720,
        "y": 60,
        "wires": [[]]
    },
    {
        "id": "manipulador_gauge_erro",
        "type": "ui_gauge",
        "z": "manipulador_flow",
        "name": "Erro Médio",
        "group": "manipulador_group",
        "order": 2,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Erro Médio",
        "label": "rad",
        "format": "{{value}}",
        "min": 0,
        "max": 0.5,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "0.05",
        "seg2": "0.2",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "manipulador_gauge_tempo",
        "type": "ui_gauge",
        "z": "manipulador_flow",
        "name": "Tempo Estabilização",
        "group": "manipulador_group",
        "order": 3,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Tempo Estabilização",
        "label": "s",
        "format": "{{value}}",
        "min": 0,
        "max": 10,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "2",
        "seg2": "5",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "manipulador_gauge_energia",
        "type": "ui_gauge",
        "z": "manipulador_flow",
        "name": "Energia Total",
        "group": "manipulador_group",
        "order": 4,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Energia Total",
        "label": "J",
        "format": "{{value}}",
        "min": 0,
        "max": 100,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "20",
        "seg2": "50",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "manipulador_gauge_overshoot",
        "type": "ui_gauge",
        "z": "manipulador_flow",
        "name": "Overshoot Máximo",
        "group": "manipulador_group",
        "order": 5,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Overshoot Máximo",
        "label": "rad",
        "format": "{{value}}",
        "min": 0,
        "max": 1.5,
        "colors": ["#00b500", "#e6e600", "#ca3838"],
        "seg1": "0.3",
        "seg2": "0.7",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "manipulador_text_status",
        "type": "ui_text",
        "z": "manipulador_flow",
        "group": "manipulador_group",
        "order": 6,
        "width": "6",
        "height": "1",
        "name": "Status",
        "label": "Estabilizado:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 260,
        "wires": []
    },
    {
        "id": "robo_mqtt_in",
        "type": "mqtt in",
        "z": "robo_flow",
        "name": "Receber Métricas",
        "topic": "robotica_n2/robo_movel/metrics",
        "qos": "1",
        "broker": "mqtt_broker",
        "x": 120,
        "y": 100,
        "wires": [["robo_parse"]]
    },
    {
        "id": "robo_parse",
        "type": "json",
        "z": "robo_flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 320,
        "y": 100,
        "wires": [["robo_dashboard"]]
    },
    {
        "id": "robo_dashboard",
        "type": "function",
        "z": "robo_flow",
        "name": "Preparar Dashboard",
        "func": "const metrics = msg.payload.metrics;\nconst timestamp = new Date(msg.payload.timestamp * 1000);\n\n// Preparar dados para gráfico de distância\nconst msgDist = {payload: metrics.distancia_percorrida_sem_impacto, topic: \"distancia\"};\n\n// Criar mensagens para os displays\nreturn [\n    msgDist,\n    {payload: metrics.numero_colisoes, topic: \"colisoes\"},\n    {payload: metrics.tempo_reacao_medio || 0, topic: \"tempo_reacao\"},\n    {payload: metrics.distancia_percorrida_sem_impacto, topic: \"distancia\"},\n    {payload: metrics.erro_medio_lateral, topic: \"erro_lateral\"}\n];",
        "outputs": 5,
        "noerr": 0,
        "x": 520,
        "y": 100,
        "wires": [["robo_chart_distancia"], ["robo_text_colisoes"], ["robo_text_tempo"], ["robo_text_distancia"], ["robo_text_erro"]]
    },
    {
        "id": "robo_chart_distancia",
        "type": "ui_chart",
        "z": "robo_flow",
        "name": "Distância Percorrida",
        "group": "robo_group",
        "order": 1,
        "width": "12",
        "height": "4",
        "label": "Distância Percorrida ao Longo do Tempo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "50",
        "removeOlder": "1",
        "removeOlderPoints": "100",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": ["#2ca02c"],
        "useOldStyle": false,
        "size": "auto",
        "outputs": 1,
        "x": 720,
        "y": 60,
        "wires": [[]]
    },
    {
        "id": "robo_text_colisoes",
        "type": "ui_text",
        "z": "robo_flow",
        "group": "robo_group",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "Colisões",
        "label": "Número de Colisões:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 100,
        "wires": []
    },
    {
        "id": "robo_text_tempo",
        "type": "ui_text",
        "z": "robo_flow",
        "group": "robo_group",
        "order": 3,
        "width": "6",
        "height": "1",
        "name": "Tempo Reação",
        "label": "Tempo Reação Médio (s):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 140,
        "wires": []
    },
    {
        "id": "robo_text_distancia",
        "type": "ui_text",
        "z": "robo_flow",
        "group": "robo_group",
        "order": 4,
        "width": "6",
        "height": "1",
        "name": "Distância",
        "label": "Distância Percorrida (m):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 180,
        "wires": []
    },
    {
        "id": "robo_text_erro",
        "type": "ui_text",
        "z": "robo_flow",
        "group": "robo_group",
        "order": 5,
        "width": "6",
        "height": "1",
        "name": "Erro Lateral",
        "label": "Erro Médio Lateral (m):",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 720,
        "y": 220,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Local MQTT",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "manipulador_group",
        "type": "ui_group",
        "z": "",
        "name": "Manipulador Planar",
        "tab": "manipulador_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "robo_group",
        "type": "ui_group",
        "z": "",
        "name": "Robô Móvel",
        "tab": "robo_tab",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "manipulador_tab",
        "type": "ui_tab",
        "z": "",
        "name": "Manipulador Planar",
        "icon": "fa-robot",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "robo_tab",
        "type": "ui_tab",
        "z": "",
        "name": "Robô Móvel",
        "icon": "fa-car",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]

